{{#extend "default"}} {{#content "main"}}

 <!-- homepage hero
   ================================================== -->
   <section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns hero-container">

			   <!-- hero-slider start-->
			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- slide -->
                       {{#each heroSlider.items}}
                       
                       					   <li>
						   <div class="{{class}}">
								<h1 class="">
                                     {{{metadata}}}
								</h1>	
									
								<h3 class="{{classH3}}">{{titleH3}}</h3>				   
							</div>						
					   </li>
                       {{/each}}

					   <!-- slide -->
					  				              

				   </ul>

			   </div> <!-- end hero-slider -->				   

	      </div> <!-- end twelve columns-->

		</div> <!-- end row -->	
        
		<div id="more">
		      <a class="{{heroSlider.more.class}}" href="{{heroSlider.more.url}}">{{heroSlider.more.title}}<i class="{{heroSlider.more.classI}}"></i></a>
		</div> 	

   </section> <!-- end homepage hero -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">

      	<div class="twelve columns">

      		<h1>{{portfolio.title}}<span>.</span></h1>

	         <hr />               

	         <p>{{portfolio.name}}
	         </p>

	      </div>
         
      </div> <!-- end section-head -->

      <div class="row items">

         <!-- portfolio-wrapper -->
         <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">
                 {{#each portfolio.items}}
            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="{{url}}">
	                  <img src="{{image}}" alt="{{title}}">
                     <div class="overlay"></div>                       
                     <div class="portfolio-item-meta">
     					      <h5>{{title}}</h5>
                        <p>{{name}}</p>
     					   </div> 
                     <div class="link-icon"><i class="{{class}}"></i></div>
                  </a>
               </div>
              
        		</div> <!-- item end -->
                  {{/each}}
           
         </div> <!-- end portfolio-wrapper -->
         

         <!-- modal popup
	   	========================================================= -->
           {{#each portfolio.modal}}
         <div id="{{id}}" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="{{image}}" alt="{{title}}" />
	      	</div>
            
		      <div class="description-box">
			      <h4>{{title}}</h4>
			      <p>{{description}}</p>
               <span class="categories">{{name}}</span>
		      </div>
              
            <div class="link-box group">
                {{#each group}}
            	
            	<a href="{{url}}" class="{{class}}">{{title}}</a>
                {{/each}}         
            </div>

	      </div><!-- modal-01 end -->
          {{/each}}
        

      </div>  <!-- end row -->

   </section> <!-- end portfolio -->


   <!-- Services Section
   ================================================== -->
   <section id="services">

   	<div class="row section-head">

      	<div class="twelve columns">
             

      		<h1>{{services.title}}<span>.</span></h1>

	         <hr />      	         

	         <p>{{services.name}}
	         </p>

	      </div>

      </div> <!-- end section-head -->

      <div class="row mobile-no-padding">      	

	      <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">
             {{#each services.items}}
	      	<div class="bgrid">	               
             
	            <h3>{{title}}</h3>

	            <div class="service-content">	                  
		            <p>{{name}}
	         		</p> 
	         	</div>  

				</div> <!-- end bgrid -->
           {{/each}}
			
                 

	      </div> <!-- end service-list -->	      

      </div> <!-- end row -->      

   </section> <!-- end services -->


   <!-- About Section
   ================================================== -->
   <section id="about">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>{{about.title}}<span>.</span></h1>

	         <hr />     	    

	         <p>{{about.name}}
	         </p>

	      </div> <!-- end section-head -->

      </div>
      



      <div class="row mobile-no-padding">       	

      	<div class="process bgrid-half tab-bgrid-whole group">
               {{#each about.items}}
      		<div class="bgrid">

			      <h3>{{title}}</h3>	

			      <p>{{name}}
			      </p>

		   	</div>
               {{/each}}

      		

      	</div> <!-- end process -->      	

     	</div> <!-- end row -->


      <div class="row team section-head">

   		<div class="twelve columns">

	         <h1>{{team.title}}<span>.</span></h1>

	         <hr />	         

	      </div>

      </div> <!-- end section-head -->

      <div class="row">

         <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">
            
         {{#each team.items}}
            <div class="bgrid member">

					<div class="member-pic">
						<img src="{{image}}" alt=""/>
                 	<div class="mask"></div>       	
               </div>
               <div class="member-name">
                  <h3>{{title}}</h3>
                  <span>{{name}}</span>
               </div>

               <p>{{description}}</p>

               <ul class="member-social">
                   {{#each social}}
                  <li><a href="{{url}}"><i class="{{class}}"></i></a></li>
                  {{/each}}
                 
               </ul>

            </div> <!-- end member -->
            {{/each}}
           
           

            

         </div> <!-- end team-wrapper -->

      </div> <!-- end row -->

      <div id="call-to-action">	       

		   <div class="row section-ads">

		      <div class="twelve columns">		         		
                 
			      <h2><a href="{{team.sectionAds.url}}">{{team.sectionAds.title}}<span>.</span></a></h2>

			      <p>
			       {{{team.sectionAds.metadata}}}		
					</p>

					<div class="action">
			         <a href="{{team.sectionAds.url}}" >{{team.sectionAds.action}}</a>
	         	</div>

			   </div>

		   </div> <!-- end section-ads -->		         	         

	   </div> <!-- end call-to-action -->	           

   </section> <!-- end about -->  


   <!-- Testimonials Section
   ================================================== -->

   <section id="testimonials">

      <div class="row content flex-container">
    
         <div id="testimonial-slider" class="flexslider">
           
            <ul class="slides">
                {{#each testimonials}}
               <li>
                  <p>
                       {{name}}
                  </p>

                  <div class="testimonial-author">
                    	<img src="{{image}}" alt="Author image">
                    	<div class="author-info">
                    		{{author}}
                    		<span class="position">{{position}}</span>
                    	</div>
                  </div>
             	</li> <!-- end slide -->
                 {{/each}}

              

            </ul> <!-- end slides -->

         </div> <!-- end flexslider -->         
        
      </div> <!-- end row -->

   </section> <!-- end testimonials section -->  


   <!-- contact
   ================================================== -->
   <section id="contact">

   	<div class="row section-head">

   		<div class="twelve columns">

	         <h1>{{contact.title}}<span>.</span></h1>

	         <hr />	        

	      </div>

      </div> <!-- end section-head -->
          
      <div class="row">
      	
      	<div id="contact-form" class="six columns tab-whole left">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action=""  >
      			<fieldset>

                  <div class="group">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
                  </div>
                  <div>
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
	               </div>
                  <div>
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject"  value="" />
	               </div>                       
                  <div>
	                 	<textarea name="contactMessage"  id="contactMessage" placeholder="message" rows="10" cols="50" required ></textarea>
	               </div>                      
                  <div>
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
      		<div id="message-success">
               <i class="icon-ok"></i>{{contact.message}}<br />
      		</div>

         </div>
         

         <div class="six columns tab-whole right">

            <p class="lead">
                {{contact.info.led}}

	         <h3 class="address">{{contact.info.address}}</h3>

	         <p>
            {{{contact.info.street}}}
            </p>

           {{{contact.info.number}}}
               	
         </div>     	

      </div> <!-- end row -->     

   </section>  <!-- end contact -->


{{/content}} {{/extend}}