<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.min.css">
   <link rel="stylesheet" href="css/main.css">     

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

	<!-- header
   ================================================== -->
   <header id="main-header">

   	<div class="row">

	      <div class="logo">
	         <a href="#">{{title}}</a>
	      </div>

	      <nav id="nav-wrap">         
	         {{#each menu.list}}
	         <a class="mobile-btn" href="{{url}}" title="{{title}}">
	         	<span class="menu-icon">{{name}}</span>
	         </a>
             {{/each}}
         	         
             
	         <ul id="nav" class="nav">
                {{#each menu.items}}
	            <li class="{{classLi}}"><a class="{{classA}}" href="{{url}}">{{title}}</a></li>
                {{/each}}
		        
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->

	      <ul class="header-social">
               {{#each menu.headerSocial}}
	        	<li><a href="{{url}}"><i class="{{class}}"></i></a></li>
	            {{/each}}
	      </ul>      

	   </div>

   </header> <!-- end header -->

